# docker-compose up --build --abort-on-container-exit
version: "3"

services:
  selenium:
    image: selenium/standalone-chrome:88.0.4324.150
    container_name: selenium_server_works
    logging:
      driver: none

  test_runner:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: java_tests_run
    container_name: java_tests_works
    depends_on: 
      - selenium
    volumes:
      - ./allure-results:/tests/target/allure-results
